<header class="navbar">
	<a href="#" class="navbar__logo">
		<img class="navbar__logo-img" src="./assets/svg/logo.svg" alt="Logo">
		<div class="navbar__logo-text">
			Lasles<b>VPN</b>
		</div>
	</a>

	<div class="navbar__menu">
		<a class="navbar__menu-item" href="#">About</a>
		<a class="navbar__menu-item" href="#">Features</a>
		<a class="navbar__menu-item" href="#">Pricing</a>
		<a class="navbar__menu-item" href="#">Testimonials</a>
		<a class="navbar__menu-item" href="#">Help</a>
	</div>

	<div class="navbar__signs">
		<a href="#" class="navbar__sign-in">Sign In</a>
		<button href="#" class="navbar__sign-up">Sign Up</button>
	</div>
</header>
