<section class="hero">
	<div class="hero__content">
		<h2 class="hero__title">
			Want anything to be easy with <strong> LaslesVPN </strong>.
		</h2>

		<p class="hero__paragraph">
			Provide a network for all your needs with ease and fun using <strong> LaslesVPN </strong>
			discover interesting features from us.
		</p>

		<button class="hero__btn">Get Started</button>
	</div>

	<img class="hero__img" src="./assets/svg/hero.svg" alt="Illustration1">

</section>
