.stats {
  margin: 100px 150px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 54px 130px -84px #0D1025;
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
	 @include mq(tablet, max) {
    flex-direction: column;
  }

	&__item{
		display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
	 @include mq(tablet, max) {
		justify-content: space-between;
  }
	}

	&__icon {
		width: 55px;
		height: 55px;
		border-radius: 70px;
		background-color:$info-icon-bgcolor;
		color: $button-color;
		margin-right: 36px;
	}

	&__number {
		font-size: 25px;
		font-weight: 700;
		color: $header-color;
		line-height: 0;
		@include mq(tablet, max) {
    font-size: 20px;
  }
	}

	&__text {
		font-size: 20px;
		font-weight: 400;
		color: $paragraph-color;
		@include mq(tablet, max) {
    font-size: 15px;
  }
	}

	&__vertical-line {
		height: 125px;
		width: 2px;
		background-color: #EEEFF2;
		margin-right: 10px;
		margin-left: 10px;
		 @include mq(tablet, max) {
    display: none;
  }
	}

	&__data{
		 @include mq(tablet, max) {
    width: 95px;
  }
	}
}
